@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainSection {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #F66000;
  display: flex ;
  flex-wrap: wrap;
}

.NomeLoja {
  font-family: 'Inter', sans-serif;
  font-size: 6rem;
  font-weight: 400;
  color: white;
}

.ContainerFrutas {
  width: 890px;
  display: flex;
  flex-wrap: wrap;
}

.Carrinho {
  width: 440px;
  height: 656px;
  border-radius: 120px;
  background-color: #D2C5BB;
}

img {
  outline: solid 2px red;
  width: 25vw;
}